*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;   /* line height - i.e. vertical space between lines. may need to decrease for large sizes */
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    /* if you want a specific media to have a greater width percentage, for example: */
    /* width: 120%; */
    /* then make sure to include the following line of code to override our max-width */
    /* max-width: revert; */
  }

  input, button, textarea, select {
    font: inherit;  /* inherits body font style */
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;  /* breaks large words instead of overflowing */
  }
  
  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  #root, #__next {
    isolation: isolate;
  }

  .interior { /* for space on sides of website content [must add class manually] */
    max-width: 1200px;
    margin: 0px auto;
    /* flexbox */
    display: flex;
}