#event-pic {
    width: 100%;
    height: 480px;
    
    object-fit: cover;  /* crops image to fit size */
    border-radius: 8px;
}

#apply-button {
    height: 48px;
    width: 280px;

    background-color: #ec660c;
    border: solid 2px #ec660c;
    color: #fafafa;
    font-weight: bold;

    border-radius: 8px;
}

#apply-button:hover {
    cursor: pointer;

    background-color: #fafafa;
    color: #ec660c;
}

/* CLASSES */

.spaced {
    justify-content: space-between;
}

.spacing-top {
    padding-top: 24px;
}

.spacing-bottom {
    padding-bottom: 24px;
}