@font-face {
    font-family: Bayon;
    src: url(../Bayon-Regular.ttf) format('truetype');
}

body {
    background-color: #fafafa;
    /* font-family: Arial, Helvetica, sans-serif; */
}

#header {
    height: 60px;

    background-color: #f39600; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #ec660c , #f39600);
}

#header-content {
    height: 60px;

    /* flexbox */
    justify-content: space-between;
    align-items: center;
}

a {
    background: none;
    border: none;
}

#main-page {
    background-color: red;
}

/* CLASSES */

.center {
    margin: 0px auto;
}

.flex {
    display: flex;
}

.icon-button {
    height: 44px;
    width: 44px;

    border-radius: 100%;

    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button:hover {
    cursor: pointer;
    background-color: #ec660c;
}

.bayon-font {
    font-family: Bayon;
    font-size: 40px;

    /* WIP: LINEAR GRADIENT ON TEXT */
}