#main-page {
    min-height: 80dvh;
    padding-top: 24px;
    display: block;
}

#notif-alert {
    padding-right: 16px;
}

/* CLASSES */

.hidden {   /* hides item but keeps the space it takes up */
    visibility: hidden;
}

.shortened {    /* to shorten notice text */
    height: 74px;
    overflow: hidden;
}