@font-face {
    font-family: Bayon;
    src: url(../../Bayon-Regular.ttf) format('truetype');
}

body {
    width: 100%;
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}

/* WEB PAGE */

#header {
    height: 60px;

    background-color: #f39600; /* for browsers that do not support gradients */
    background-image: linear-gradient(to right, #ec660c , #f39600);
}

#header-content {
    height: 60px;

    /* flexbox */
    justify-content: space-between;
    align-items: center;
}

#software-name {
    color: #fafafa;
    margin-left: 8px;
    font-size: 28px;
}

#main-page {
    min-height: 80dvh;
    padding-top: 24px;
    display: block;
}

#footer {
    height: 120px;
    margin-top: 24px;
    background-color: #1f1b1b;
}

#footer-content {
    height: 120px;

    /* flexbox */
    justify-content: space-between;
    align-items: center;
}

/* CLASSES */

.center {
    margin: 0px auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bayon-font {
    color: #ec660c;
    font-family: Bayon;
    font-size: 40px;
    font-weight: lighter;
}

.icon-size {
    height: 28px;
}

.row {
    width: 100%;
    /* background-color: green; */
}


.icon-button, .icon-button-black {
    height: 44px;
    width: 44px;

    border-radius: 100%;

    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button:hover {
    cursor: pointer;
    background-color: #ec660c;
}

.icon-button-black:hover {
    cursor: pointer;
    background-color: #302a2a;
}