#header-pic {
    width: 100%;
    height: 256px;
    
    object-fit: cover;  /* crops image to fit size */
    border-radius: 8px;
    object-position: 0% 55%;
}

/* CLASSES */

.fullSize {
    height: 200px;
    width: 100%;
}

.pastEvent {
    padding: 24px 60px 24px 60px;
    align-items: flex-start;
}

.thumbnail {
    width: 200px;
    height: 200px;

    margin-right: 16px;
    object-fit: cover;
    border-radius: 8px;
}