#notif-alert {
    padding-right: 16px;
}

#send-button {
    height: 48px;
    width: 280px;

    background-color: #ec660c;
    border: solid 2px #ec660c;
    color: #fafafa;
    font-weight: bold;

    border-radius: 8px;
}

#send-button:hover {
    cursor: pointer;

    background-color: #fafafa;
    color: #ec660c;
}

#notifHeader, #notifDesc {
    width: 500px;

    background-color: #fafafa;
    border: solid 2px #989898;

    border-radius: 8px;
    font-size: large;
}

#notifHeader {
    height: 48px;
}

/* CLASSES */

.hidden {   /* hides item but keeps the space it takes up */
    visibility: hidden;
}

.shortened {    /* to shorten notice text */
    height: 74px;
    overflow: hidden;
}

.notice {
    /* background-color: green; */
    border-top: solid #d9d9d9 2px;
    padding: 24px 60px 24px 16px;
}


/* MODAL */

.exit-intent {
    height: 600px;
    width: 600px;

    background-color: #fafafa;
    text-align: center;

    /* centers modal */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

.column {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
  
.exit-intent {
    position: fixed;
    border-radius: 8px;
    opacity: 0;
    z-index: 1;
}
  
  .exit-intent:target {
    visibility: visible;
    opacity: 1;
  }
  
  .exit-intent-close {
    position: absolute;
    max-width: 500px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
  }
  
  .exit-intent .close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    color: #000;
    font-size: 2em;
    line-height: 0.6em;
    font-weight: bold;
  }
  
  .exit-intent .close:hover {
    color: #999;
  }
  
  .close-exit-intent {
    background: rgba(0, 0, 0, 0.7);
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .exit-intent:target+.close-exit-intent {
    opacity: 1;
    visibility: visible;
  }