body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #f0971c, #e4572e); 
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.logo-image {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
}

.login-box p.sign-in-prompt {
    color: #888; 
    margin-bottom: 20px; 
    margin-top: 0px;
    font-size: 14px;
}

.login-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.role-selection {
    display: flex;
    justify-content: center;
    gap: 15px; 
    align-items: center;
    margin-bottom: 15px;
}
.role-selection label {
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type="email"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #e4572e;
    text-decoration: none;
    margin-bottom: 10px;
}

.sign-in {
    width: 100%;
    padding: 10px;
    background-color: #e4572e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sign-in:hover {
    background-color: #c74621;
}

p {
    font-size: 14px;
}

p a {
    color: #e4572e;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}
